<nav id="nav-menu-container">
	<ul class="nav-menu">
			<!--
			<li class="menu-has-children"><a href="{{site.baseurl}}/zh/welcome.html"><span class="none"></span>About关于</a>

			</li>-->
			
			<li class="menu-has-children">
				<a href="#"><span class="icon-chevron-down"></span>应用集成</a>
						<ul class="nav nav-list">
							<li class=""><a href="{{site.baseurl}}/zh/sso/oauth2.html"><span class="none"></span>OAuth2</a></li>
							<li class=""><a href="{{site.baseurl}}/zh/sso/jwt.html"><span class="none"></span>JWT</a></li>
							<li class=""><a href="{{site.baseurl}}/zh/sso/oidc.html"><span class="none"></span>OIDC</a></li>
							<li class=""><a href="{{site.baseurl}}/zh/sso/cas.html"><span class="none"></span>CAS</a></li>
							<li class=""><a href="{{site.baseurl}}/zh/sso/tokenbased.html"><span class="none"></span>TokenBased</a></li>
							<li class=""><a href="{{site.baseurl}}/zh/sso/formbased.html"><span class="none"></span>FormBased</a></li>
							<li class=""><a href="{{site.baseurl}}/zh/sso/saml_aly.html"><span class="none"></span>阿里云(SAML)</a></li>
							<li class=""><a href="{{site.baseurl}}/zh/sso/saml_txy.html"><span class="none"></span>腾讯云(SAML)</a></li>
							<li class=""><a href="{{site.baseurl}}/zh/sso/saml_salesforce.html"><span class="none"></span>Salesforce(SAML)</a></li>
						</ul>
			</li>
			<li class="menu-has-children"><a href="{{site.baseurl}}/zh/im.html"><span class="none"></span>身份管理</a>
				<ul class="nav nav-list">
					<li class=""><a href="{{site.baseurl}}/zh/im.html"><span class="none"></span>身份管理架构</a></li>
					<li class=""><a href="{{site.baseurl}}/zh/ui_mgt.html"><span class="none"></span>管理界面</a></li>
				</ul>
			</li>
			
			<li class="menu-has-children">
				<a href="#"><span class="icon-chevron-down"></span>专业术语</a>
				<ul class="nav nav-list">
					<li class=""><a href="{{site.baseurl}}/zh/protocols/sso.html"><span class="none"></span>单点登录概述</a></li>
					<li><a href="{{site.baseurl}}/zh/slo.html" title="Single Logout"><span class="none"></span>单点注销(SLO)</a></li>
					<li><a href="{{site.baseurl}}/zh/glossary.html" title="Glossary"><span class="none"></span>Glossary术语</a></li>
					<li class=""><a href="{{site.baseurl}}/zh/protocols/oauth2.html"><span class="none"></span>OAuth2介绍</a></li>
					<li class=""><a href="{{site.baseurl}}/zh/protocols/jwtintros.html"><span class="none"></span>JWT介绍</a></li>
					<li class=""><a href="{{site.baseurl}}/zh/protocols/saml.html"><span class="none"></span>SAML介绍</a></li>
					<li class=""><a href="{{site.baseurl}}/zh/protocols/openid.html"><span class="none"></span>OIDC介绍</a></li>
					<li class=""><a href="{{site.baseurl}}/zh/protocols/cas.html"><span class="none"></span>CAS介绍</a></li>
					<li class=""><a href="{{site.baseurl}}/zh/protocols/tokenbased.html"><span class="none"></span>TokenBased介绍</a></li>
					<li class=""><a href="{{site.baseurl}}/zh/protocols/formbased.html"><span class="none"></span>FormBased介绍</a></li>
					
					
				 </ul>
			</li>
			
		</ul>
</nav>
<!-- #nav-menu-container 
    <li class="menu-active"><a href="#body">Home</a></li>
-->


